<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100%">
<div>
  <h2 th:text="${message}"></h2>
  <form th:action="@{/greet}" method="post">
    <label>
      Name:
      <input type="text" name="name"/>
    </label>
    <button type="submit">Submit</button>
  </form>
  <p th:if="${name != null and !#strings.isEmpty(name)}">
    Good day: <span th:text="${name}"></span>
  </p>
</div>

</body>
</html>